#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    symbols: (
        song: " ",
        dir: " ",
        marker: "󰐾 ",
        playlist: "󰲸 ",
    ),
    progress_bar: (
        symbols: ["━", "━", "◆", " ", " "],
        track_style: (fg: "#1e2030"),
    ),
    scrollbar: (
        symbols: ["│", "┃", "┬", "┴"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "blue"),
    ),
)
